nav(class="h-full grid grid-cols-5 gap-1 text-lg font-semibold")

    div(class="nav")
        label(for="yaer") Year :
        select(name="year" id="year" class="grow") 
            option(value="All") All 

    div(class="nav")
        label(for="programme") Programme : 
        select(name="programme" id="programme" class="grow") 
            option(value="All") All 

    div(class="nav")
        label(for="themes") Themes : 
        select(name="themes" id="themes" class="grow") 
            option(value="All") All 

    div(class="nav")
        label(for="practice") Practice : 
        select(name="practice" id="practice" class="grow") 
            option(value="All") All 

    div(class="nav")
        label(for="students") Students : 
        select(name="students" id="students" class="grow") 
            option(value="All") All 
